
<h3>List of Cities</h3>
<div id="cities">
<% if @cities.any?() %>
    <% @cities.each do |city| %>
    <ul>
      <li><a href="/customer/city/<%=city.id()%>"> <%= city.name() %> </a></li>
    </ul>
    <% end  %>
  <%else  %>
  There are no cities
  <% end  %>
</div>

List of trains passing through 
<% if @cities.any?() %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>time</th>
        <th>price</th>
      </tr>
    </thead>
  <% @cities.each do |city| %>
  <tr>
    <td><%= city.id %></td>
    <td><%= city.name %></td>
  </tr>
  <% end  %>


  </table>
<% end  %>
