

<div id="nav" class="well">
<a href="/">Home</a> |
<a href="/***">View Trains</a> |
<a href="/***">View Cities</a>

<div class="pull-right">
  <a href="/admin">Admin</a>
</div>

</div>




<div id="main" class="well">

  <h4>Welcome</h4>

  <h5>We have trains to get you where you need to go!</h5>


  <span class="btn"><a href="/***"><w>View Trains</w></a></span>

  <span class="btn"><a href="/***"><w>View Cities</w></a></span>

<div class="text-center">
  <span class="btn"><a href="/***"><w>Purchase Ticket</w></a></span>
</div>


</div>
